html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title fishJS
        link(rel="icon" href="fishtie_trans.png")
        //link(rel="stylesheet" type="text/css" href="http://localhost:3010/dist/styles.less.css")
        link(rel="stylesheet" type="text/css" href="http://localhost:3010/dist/styles.css")

    body
        nav.t-navigation.green.darken-2
            div.nav-wrapper
                div.brand-logo
                    | TJS
                ul.right#nav-mobile
                    each nav, key in navigation
                        li(class={active: key === activeNavigation})
                            a(href=nav.href)= nav.label

        div.container
            block content

        block js-assets
