extends layout.pug
block content
    h2 Nested pages
    ul
        li
            a(href="/nested/first") first
        lia
            a(href="/nested/second") second
        li
            a(href="/nested/third") third