html(lang="en")
    head
        meta(charset="UTF-8")
        block title
            title fishJS
        link(rel="icon" href="fishtie_trans.png")
        link(rel="stylesheet" type="text/css" href="css/main.css")
        link(rel="stylesheet" type="text/css" href="http://localhost:3001/css/app.styles.min.css")

    body
        nav.t-navigation
            div.navbar-header
                img(src="fishtie_trans.png")
            div.container
                ul.nav.navbar-nav
                    each nav, key in navigation
                        li(class={active: key === activeNavigation})
                            a(href=nav.href)= nav.label

        div.container
            block content

        block js-assets
